<div class="card">
	<div class="card-header">
		
		<ul class="nav nav-tabs nav-justified">
						<li class="nav-item">
							<a class="nav-link active" href="#!CustomerData">Existing User</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#!NewUser">New User</a>
						</li>
					</ul>
	 
	</div>
	<form>
	<div class="card-body">
		<div class="form-group">
			<label>Email ID:</label>
			<input type="email" class="form-control">
		</div>
		<div class="form-group">
			<label>Password:</label>
			<input type="password" class="form-control">
		</div>
	</div>
		<div class="card-footer">
			<button class="btn btn-primary">Log In</button>
		</div>
	</form>
</div>